<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro de Produtos</h1>
    <form action="/cadastrar" method="POST"> 
        <!-- /cadastrar para a rota e POST para postar -->
        <input type="text" placeholder="Digite o nome do produto" id="name" name="name"><br>
        <input type="number" placeholder="Digite o preço" id="preco" name="preco">
        <button>Cadastrar</button>
    </form>
</body>
</html>